{{> navbar }}
    <div class="section" id="section1">
          <div class="page-header">
            <h1>Rent Everything</h1>
            <p>
              Allowing you to save money and make money.
            </p>
            <div>
              <a href="/inventory"><button id="landingBtn">Find Your Next Adventure</button></a>
            </div><br>
            <div>
              <a href="/posting"><button id="landingBtn">Start Making Money Now</button></a>
            </div>
          </div>
    </div>
