<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="/static/css/inventory.css">
<!-- https://vestride.github.io/Shuffle/ -->



<script type="text/javascript" src="scripts/daterangepicker/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="scripts/daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="scripts/daterangepicker/daterangepicker.css" />
