<div class="section" id="section1">
  <div class="page-header">
    What do you want to rent?
  </div>
  
  <div id="inventoryList">
    {{#each data}}
                <div class="inventory-card" type="button"  data-toggle="modal" data-target="#modal-{{this._id}}">
                  <div class="card-header">
                    <div class="card-image-container">
                      <img src="{{this.image}}" alt="">
                    </div>
                    <div class="card-title">
                      {{this.title}}
                        <div class="card-condition">
                          {{conditionLabel this.condition}}
                        </div>
                    </div>
                  </div>
                  <div class="card-body">

                    <p class="card-desc">
                      {{this.description}}
                    </p>

                  </div>
                  <div class="card-footer">
                    <div class="card-footer-sub card-location">
                      <i class="fas fa-map-marker-alt"></i> {{this.location}}
                    </div>
                    <div class="card-footer-sub card-price">
                    <i class="fas fa-dollar-sign"></i>  {{this.price}}/day
                    </div>
                  </div>
                  </div>
                  <div id="modal-{{this._id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{this.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body">
            <div class="modal-image">
              <div class="modal-calendar">
                When would you like to rent?
                <input class="calendar" />
              </div>
              <img src="{{this.image}}" alt="">


            </div>
            <div class="modal-info">
              <div class="modal-seller-image">
                <img src="{{this.seller_image}}" alt="">
              </div>
              <div class="modal-user-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <ul>
                <li><span class="info-label">Seller:</span> {{this.seller_name}}</li>
                <li><span class="info-label">Phone:</span> (777) 777-7777</li>
                <li><span class="info-label">Email:</span> {{this.seller_email}}</li>
                <li><span class="info-label">Condition:</span> {{conditionLabel this.condition}}</li>
                <li><span class="info-label">Details:</span> {{this.description}}</li>


              </ul>

            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary requestBtn">Send Request</button>
          </div>

                      </div>
                    </div>
                  </div>

                  {{/each}}


  </div>

</div>
