<div class="section" id="section1">
  <div class="page-header">
    What do you want to rent?
  </div>
  <div id="inventoryList">
      <div class="inventory-column">
                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Brand New Camera
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc">
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>
                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsf all cameras ever.
                    </p>
                  </div>
                </div>



                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>
      </div>
      <div class="inventory-column">
                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Brand New Camera
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc">
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>

                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>


                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>
      </div>
      <div class="inventory-column">
                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Brand New Camera
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc">
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>
                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>
                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>


                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>
      </div>
      <div class="inventory-column">
                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Brand New Camera
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc">
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>

                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>


                <div class="inventory-card">
                  <div class="card-header">
                    <div class="card-title">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem illo id quisquam?
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis, repellendus repellat numquam provident sit atque eius cum quos harum adipisci nam, dolorum nostrum nihil fuga similique repudiandae quaerat voluptate! Voluptate similique temporibus libero adipisci accusantium. Beatae eos iure, natus perspiciatis earum.
                      This camera is the greatest of all cameras ever.
                    </p>
                  </div>
                </div>
      </div>
  </div>

</div>
