

<div id="section1">
    <form action="/posting/create" method="POST" class="posting">
        <h1>What item would you like to post?</h1>
        Title of Posting<input type="text" name="title" placeholder="Pair of skis">
        <br>
        Rate the condition<input type="number" name="condition" placeholder="0 - 5 with 5 as Perfect">
        <br>
        Daily Price<input type="number" name="price" placeholder="Dollars per day">
        <br>
        Description of Product<input type="text" name="descrption" placeholder="" style = "height:200px">
        <br>
        Location<input type="text" name="location" placeholder="Evan's Hall, Yale Campus">
        <br>
        Image<input type="text" name="image" placeholder="Web URL">
        <input type="hidden" name="available" value=TRUE>
        <br>
        <input type="hidden" name="id_member" value=1>
        <br>
        <input type="submit">
    </form>
</div>