<div class='section' id="section1">
    <br>><br><br>
    {{#if thanks}}
    <h1 class="thanks">Thank you, we hope to rent this out soon! Feel free to add another item below!</h1>
    <br>
    {{/if}}
        <form action="/posting/create" method="POST" class="posting">
        <h1>What item would you like to post?</h1>
        Title of Posting<input type="text" name="title" placeholder="Pair of skis">
        <br>
        Rate the condition<input type="number" name="condition" placeholder="0 - 5 with 5 as Perfect">
        <br>
        Daily Price<input type="number" name="price" placeholder="Dollars per day">
        <br>
        Description of Product <textarea rows="2" cols="22" name="description" wrap="hard"></textarea>
        <br>
        Location<input type="text" name="location" placeholder="Evan's Hall, Yale Campus">
        <br>
        Image<br><input type="text" name="image" placeholder="Web URL">
        <input type="hidden" name="available" value=TRUE>
        <br>
        <br>
        <input type="submit">
    </form>
</div>
